&
  transition: width, 0.25s, background, 0.25s
  width: large-view-site-border
  position: fixed
  height: 100%
  right: 0
  top: 0

&.menu-open
  background: white
  width: 25em
  +below(min-width-for-matte)
    width: 100%

  .collapsed
    right: -3em

  .expanded
    left: 0
    width: 100%

.content
  position: relative
  margin-top: 3em

.ui-container
  position: fixed
  top: 0
  right: 0

.menu-container
  position: absolute

.collapsed
  right: 0
  transition: right, 0.5s
  align-self: flex-end

.expanded
  padding: 0 2em
  left: 20em
  transition: right, 0.25s, left, 0.25s

.nav-links-container
  font-size: 3em
  font-weight: 900
  font-family: "Gilroy", sans-serif
  margin-bottom: 1em

  +below(1400px)
    font-size: 3em
    margin-bottom: 1em
  +below(1200px)
    font-size: 2.8em
    margin-bottom: 0.8em
  +below(1000px)
    font-size: 2.6em
    margin-bottom: 0.6em
  +below(800px)
    font-size: 2.3em
    margin-bottom: 0.5em

a
  text-decoration: none
  color: inherit

.nav-link:last-child
  margin-bottom: 0

a:hover
  text-decoration: underline

.icons
  font-size: 2em
  margin-top: 1em
  div
    margin-right: 0.8rem

address
  font-size: 1.2em
  a
    font-family: "Libre Baskerville", serif
    font-style: italic
    font-weight: 300

  .number
    text-decoration: none
    span
      text-decoration: none

  .location
    font-family: "Gilroy", sans-serif
    font-style: normal
    font-weight: 300
    margin: 1em 0

.icon-container
  div
    margin: 1em
