<div class="ui-container">
  <button class="hamburger hamburger--slider {{isActive}}" type="button" {{action "toggle"}}>
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
