&
  font-family: "Gilroy", sans-serif
  font-weight: lighter
  font-size: 1.4em

  +below(600px)
    font-size: 1.2em
  +below(min-width-for-matte)
    margin-top: 1em
    flex-direction: column

header
  margin-bottom: 1em

  .presents
    font-size: 1em
  .show-name
    font-size: 1.3em

.quote
  .copy
    font-style: italic
  .author
    font-weight:500

.content-container
  padding: 1em
