&
  font-family: "Gilroy", sans-serif
  font-weight: lighter
  font-size: 1.4em

  +below(600px)
    font-size: 1.2em
  +below(min-width-for-matte)
    margin-top: 1em
    flex-direction: column

header
  margin-bottom: 1em

  .presents
    font-size: 1em
    font-style: italic
    margin-bottom: 0.25em
  .show-name
    font-size: 1.4em
    margin-bottom: 0.25em
  .date
    font-weight: bold

.quote
  .copy
    font-style: italic
  .author
    font-size: 0.8em
    font-weight:300

.content-container
  padding: 1em

a
  border-bottom: 1px dashed grey
