<div class="content-container">
  <header>
    <div class="presents">PRODUCE HAUS GRAND OPENING TO PRESENT THE GROUP EXHIBITION:</div>
    <div class="show-name">“WALLS: A QUEST FOR IMMERSVIE SPACE”</div>
    <div class="date">THURSDAY, APRIL 27, 7-10PM</div>
  </header>

  <div class="quote">
    <div class="copy">
      “An ephemeral temple of transient timelessness, with an elemental purity and an alchemical ambition.”
    </div>
    <div class="author">~<a href="http://www.sndx.net/" target="_blank">Shana Nys Dambrot</a></div>
  </div>

  <p>Produce Haus formerly the Zadik Zadikian Product Studio, will have its grand opening on Thursday, April 27 with the group exhibition “WALLS: A Quest For Immersive Space.”  The opening and artists’ reception will take place from 7-10PM, and is open to the public with no RSVP required.</p>

  <p>Featured in Produce Haus’s main room – with a gold-leafed floor, 16’ high ceilings and 60-foot-long east and west walls offering panoramic views of downtown L.A. – are large installations by Zadik Zadikian, Kaloust Guedel, and KuBO, as well as pieces by Andy Moses and Marjan Vayghan.  In the two-story-high sky-lit entry stairwell, works by Rouzanna Berberian, Gary Brewer, Clayton Campbell, and Yvette Gellis are installed.  Filmmaker Corey Burns is documenting the project.</p>

  <p>Blending evanescence and endurance, each of the artists’ works coalesce around the architecture of a living piece of Los Angeles history – a 100-year-old building inside the colossal produce market that runs the full block from 7th Street to 8th Street in between Central and Alameda in the DTLA Arts District.  The building went up in 1918, the same year that Warner Bros. Studios, the Los Angeles Philharmonic, and Otis College of Art and Design got started.</p>

  <p>A century later, as the Los Angeles art scene is in an unprecedented wave of expansion, Zadikian’s vision has transformed the Produce Haus space into a vector for creative collaboration. Adorned with gold and copper patina, rich colors, and natural light, Produce Haus distills the illuminated openness that Zadikian feels is the essence of L.A. as a place.  As artists intervene with large scale installations, the ever-changing environment itself becomes the work of art.</p>

  <p>Art critic Peter Frank has said, “The…artists treat the wall as a site not for composing a mural, but for composing an expanded physical and aesthetic experience. The space is raw; the outside light and atmosphere penetrate it; but the work maintains its self-possession precisely by responding to the vagaries of space, light, and material.”</p>

  <p>Produce Haus founder Zadik Zadikian was born in Erevan, Soviet Armenia.  At age 19 – when he was already an accomplished artist – Zadikian escaped by swimming across the Arax River in mid-winter.  Of the five friends he was with, only he and one other made it to freedom.  He first got to the U.S. in 1969, landing in San Francisco, where he became an assistant to sculptor Benjamino Bufano, a friend of Brancusi.  He moved to New York City in 1974, and worked assisting Richard Serra, and began developing his own body of work, including projects with a predilection for gold.  As noted in his bio, “In 1976 he covered his entire home and studio, 10,000 square feet of walls, floor and ceiling with industrial gold, by pounding and gilding so as to uniformly transform it into a singularly radiant vision.”</p>

  <p>“I have always been fascinated with gold,” Zadikian said recently in an interview for
    <a href="https://creators.vice.com/en_us/article/precious-metal-alchemy-transmutes-an-art-space-in-la" target="_blank">The Creators Project (VICE)</a> – "It's not about its monetary value. What draws me is what it represents. It's like 'Mother.' It's warm; it's giving, it just throws off energy. It's soft and can be stretched and molded. It's the perfect material for my obsession with the ancient and primordial, with the things that never die."</p>

  <p>After a fire destroyed his New York studio, he moved west to begin anew.  In Los Angeles for almost a decade, Zadik continues creating with gold via the new sculpture series “Foreigners,” the monumental work “Solis,” and the gilding of Produce Haus, eventually to include the ceiling as well as the entirety of the floor.  Integral to the purpose and spirit of Produce Haus is a dedication to the friends of Zadikian’s who did not escape to freedom as he did.  The essence of that can be felt in the generosity of the free-flowing artistic collaboration, and in the atmospheric beauty of the space.</p>

  <div class="contact-info">
    <p>Produce Haus is located at <a href="https://www.google.com/maps/place/1318+E+7th+St,+Los+Angeles,+CA+90021/@34.0354024,-118.2431765,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c62f807498f7:0x71196d4e3b6dedaa!8m2!3d34.0354024!4d-118.2409878" target="_blank" class="content">1318 E 7th. Street, L.A, CA 90021</a></p>
    <p>Directions and Map: {{link-to 'Contact Us' 'contact'}}</p>
    <p>Directions: Enter into the Market space at Market Court, on 7th in between Alameda and Central; you will see a vintage “CAFÉ” sign where at entryway.  Once inside, drive to the far end of the very large parking lot.  The studio door will be to the right – there will be signage indicating the entryway. There is ample free parking.</p>
  </div>
</div>
