&
  overflow: hidden
  height: 100vh
  font-family: "Gilroy", sans-serif
  lost-align: vertical
  position: relative
  font-weight: 700
  font-size: 5em
  +below(1400px)
    font-size: 4em
  +below(1200px)
    font-size: 3.5em
  +below(1000px)
    font-size: 3em
  +below(800px)
    font-size: 2.5em
  +below(600px)
    font-size: 2em

.copy
  color: dark-grey
  text-transform: uppercase

  .container
    position: absolute
    width: 60%
    right: -60%

.dot
  color: dope-pink

.color-block
  position: absolute
  height: 100%
  background: dope-pink
  width: 0%
