<div class="color-block"></div>
<div class="copy-container row stretch">
  <div class="copy row stretch">
    <div class="content">
      <span>
        The artists treat the wall as a site not for composing a mural, but for composing an expanded physical and aesthetic experience<span class="dot">.</span>
      </span>
    </div>
  </div>
</div>
