<div class="color-block"></div>
<div class="copy">
  <div class="container">
    <span>
      This space is about creating a physical response to volume and contrast <span class="dot">.</span>
    </span>
  </div>
</div>
