<div class="color-block"></div>
<div class="copy row center">
  <div class="container">
    <span>
      Produce Haus is a space for artists to collaborate and show their work<span class="dot">.</span>
    </span>
  </div>
</div>
