&
  width: 100%
  font-family: "Gilroy", sans-serif
  font-weight: 300
  lost-align: middle-center
  height: large-view-site-border
  position: fixed
  bottom: 0
  transition: bottom, 0.25s
  +below(min-width-for-matte)
    bottom: -10em



.icon
  position: fixed
  font-size: 0.7em
  animation-name: bobble
  animation-direction: alternate-reverse
  animation-duration: 1s
  animation-iteration-count: infinite

.instructions
  display: flex
  flex-direction: column
  align-items: center
  margin-top: -0.5em

@keyframes bobble {
  from {
    top: 1.5em;
  }

  to {
    top: 2em;
  }
}
