&
  width: 100%
  font-family: "Gilroy", sans-serif
  font-weight: 300
  font-size: 0.7em
  lost-align: middle-center
  height: large-view-site-border
  position: fixed
  bottom: 0
  transition: opacity, 0.25s
  +below(min-width-for-matte)
    opacity: 0

&.should-hide-scroll
  .instructions
    opacity: 0

.icon
  position: absolute
  font-size: 0.7em
  animation-name: bobble
  animation-direction: alternate-reverse
  animation-duration: 0.4s
  animation-iteration-count: infinite

.instructions
  transition: opacity, 0.25s
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  margin-top: "calc(-%s / 2)" % large-view-site-border
  opacity: 1

@keyframes bobble {
  from {
    top: 1.5em;
  }

  to {
    top: 2em;
  }
}
