<div class="video-container col stretch">
  {{ember-youtube
      delegate=this
      delegate-as="emberYoutube"
      buffering="buffering"
      ytid="7DtH2TulDhs"
      volume=0
      playerVars=customPlayerVars
      showControls=false
      showProgress=false}}
  <div class="shadow"></div>
</div>

<div class="copy row center">
  <div class="container">
    <span>
      How can we create a physical response when one stands next to this work<span class="dot">?</span>
    </span>
  </div>
</div>
