<div class="form-container vcenter hcenter col-2">
  <div class="content col">
    <form action="//haus.us15.list-manage.com/subscribe/post?u=0fab74ee96e28f5064770f1d6&amp;id=c06067dd4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<span class="title">Keep up to date <span class="dot">.</span></span>
      <div class="element-container">
        <div class="col">
          <div class="mc-field-group">
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email...">
          </div>
          <span class="privacy">
            *We will never share your info.
          </span>
        </div>

      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_0fab74ee96e28f5064770f1d6_c06067dd4d" tabindex="-1" value="">
        </div>
        <div class="button-container">
          <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn submit">
        </div>
      </div>
    </form>

  <!--End mc_embed_signup-->
  </div>
</div>
<div class="description col-1 vcenter">
  <div class="col">
    <span>New Work.</span>
    <span>Events.</span>
    <span>News.</span>
  </div>
</div>
