&
  font-family: "Gilroy", sans-serif
  font-weight: 300
  font-size: 2em
  display: flex
  +below(1250px)
    flex-direction: column  
  +below(1000px)
    font-size: 2em
  +below(800px)
    font-size: 2em
  +below(600px)
    font-size: 2em
    padding: 1em
  +below(400px)
    font-size: 1.6em

.content-container
  padding: 1em

.title
  margin-bottom: 1em
  font-weight: 900

.copy
  margin-bottom: 2em
  font-size: 1.5rem

.caption
  padding-top: 0.5em
  text-align: right
  font-size: 0.5em

img
  width: 100%;
  height: auto;
