<div class="content-container col-1">
  <span class="title">
    About Produce Haus
  </span>
  <span class="copy">
    Produce Haus – the new name of the Zadik Zadikian Project Studio –  is perched on the second floor of a historic building inside the massive 7th Street Produce Market in downtown Los Angeles.  The building was constructed in 1918 – the same year that Warner Bros. Studios, the Los Angeles Philharmonic, and Otis College of Art and Design got started.  A century later, Zadik Zadikian envisioned transforming the space into a vortex for creative collaboration.  With large windows lining its 60-foot long east and west walls, the atmospheric expanse distils the light-filled openness and vastness that Zadikian feels are the essence of Los Angeles as a place.  As artists intervene with large scale and monumental works throughout the architectural context of the building’s interior, the ever-changing environment itself becomes the work of art.
    <br>
    <br>
    Art critic and historian Peter Frank has written, “These works cannot be entered; they do not modify the interior architecture of the space. But they determine interventions into the space that are at once self-contained and responsive to the particularities of the environment…The artists treat the wall as a site not for composing a mural, but for composing an expanded physical and aesthetic experience. The space is raw; the outside light and atmosphere penetrate it; but the work maintains its self-possession precisely by responding to the vagaries of space, light, and material.”
  </span>
</div>

<div class="content-container col-1">
  <img src="assets/images/historic_pic.jpg" alt="" width="970px" height="615px">
  <span class="caption">Photo by: Los Angeles Times - 1927</span>
</div>
