
<div class="col">
  <span class="title">
    About Produce Haus
  </span>
  <span class="copy">
    Produce Haus is perched on the second floor of an historic building inside the massive 7th Street Produce Market in downtown Los Angeles.  It was constructed in 1918 – the same year that Warner Bros. Studios, the Los Angeles Philharmonic, and Otis College of Art and Design got started.
    <br>
    <br>
    A century later, Zadik Zadikian envisioned transforming the space into a vortex for creative collaboration.  With large windows lining its 60-foot long east and west walls, the atmospheric expanse distills the light-filled openness and vastness that Zadikian feels are the essence of Los Angeles as a place.
    <br>
    <br>
    As artists intervene throughout the architectural context of the building’s interior, the ever-changing environment itself becomes the work of art.
  </span>

  <div class="col">
    <img src="assets/images/historic_pic.jpg" alt="" width="970px" height="615px">
    <span class="caption">Photo by: Los Angeles Times - 1927</span>
  </div>
</div>
