&
  font-family: "Gilroy", sans-serif
  font-weight: 900
  font-size: 5em
  background: white

  +below(1400px)
    font-size: 4.5em
  +below(1200px)
    font-size: 4em
  +below(1000px)
    // padding: 1em 1em
    font-size: 3.5em
  +below(800px)
    font-size: 3.2em
  +below(600px)
    font-size: 3em
  +below(min-width-for-matte)
    flex-direction: column

.content-container
  @extend .col-3

  padding: 1em

.line
  width: 1em
  border: 3px solid

.title-container
  margin-bottom: 0.5em

  span
    display: block

  .label
    font-size: 0.7em
    margin-bottom: 0.5em

  .title
    font-size: 1em
    color: dope-pink
    text-transform: uppercase

  .description
    font-family: "Libre Baskerville", serif
    font-weight: 300
    font-style: italic
    font-size: 0.5em
    font-style: italic

.info-container
  margin-bottom: 0.5em

  span
    display: block

  .date
    font-size: 0.5em

  .time
    font-size: 0.4em
    font-weight: 300

.artist-container
  @extend .col-2

  .info
    font-weight: 800
    font-size: 2.5rem
    color: white
    margin-bottom: 1rem

  background: dope-pink
  padding: 1em 1.5em 1em 1em

  a
    text-decoration: none
    color: white
    font-weight: 500
    font-size: 2rem
    margin-bottom: 0.25em

.ui-container
  +below(min-width-for-matte)
    border: 2px solid
    padding: 1rem
    justify-content: center

  div
    margin-left: 1rem
    font-size: 2.5rem

  div:first-child
    margin-left: 0

.points-container
  font-weight: 500
  font-size: 1.7rem

.separator
  margin: 2rem 0
  border: 2px solid dope-grey
  width: 1em

.quote-container
  margin-top: 1rem
  .quote
    font-style: italic
    font-size: 1.3rem
    font-weight: 400
  .credit
    font-size: 1rem
    font-weight: 400
    text-align: right
