<div class="content-container col-1">
  <span class="title">
    Produce Haus - Press
  </span>
  {{elements/press-card
      title="Walls - A quest for immersive space"
      link="http://www.huffingtonpost.com/entry/walls-a-quest-for-immersive-space-in-dtlas-newest_us_58ccbea8e4b0e0d348b34380"
      date="3/18/17"
      author="Shana Nys Dambrot"
      authorLink="http://www.sndx.net/"}}
</div>
