<div class="content-container col-1">
  <span class="title">
    Produce Haus - Press
  </span>

  {{elements/press-card
      title='PRODUCE HAUS PRESENTS "WALLS: A QUEST FOR IMMERSIVE SPACE"'
      link="http://nohoartsdistrict.com/north-hollywood-news-noho/item/5082-produce-haus-presents-walls-a-quest-for-immersive-space"
      date="4/21/17"
      author="Lisa"
      authorLink="http://nohoartsdistrict.com/north-hollywood-news-noho/itemlist/user/450-lisa"}}

  {{elements/press-card
      title="Precious Metal Alchemy Transmutes an Art Space in LA"
      link="https://creators.vice.com/en_us/article/precious-metal-alchemy-transmutes-an-art-space-in-la"
      date="4/14/17"
      author="Tanja M. Laden"
      authorLink="http://tanjamladen.com/"}}

  {{elements/press-card
      title="Walls - A quest for immersive space"
      link="http://www.huffingtonpost.com/entry/walls-a-quest-for-immersive-space-in-dtlas-newest_us_58ccbea8e4b0e0d348b34380"
      date="3/18/17"
      author="Shana Nys Dambrot"
      authorLink="http://www.sndx.net/"}}
</div>
