<div class="content-container col-1">
  <span class="title">
    Produce Haus - Press
  </span>
  <span class="copy article">
    <a href="http://www.huffingtonpost.com/entry/walls-a-quest-for-immersive-space-in-dtlas-newest_us_58ccbea8e4b0e0d348b34380" target="_blank">"Walls - A quest for immersive space"</a>
    <br>
    <span class="date">3/18/17</span>
    <br>
    <span class="author">
      <a href="http://www.sndx.net/" target="_blank">Shana Nys Dambrot</a>
    </span>
  </span>
</div>
