&
  cursor: pointer
  width: 1.2em
  height: 1.2em
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  padding: 1rem
  i
    display: flex
    font-size: 1rem
    justify-content: center
    align-items: center
