&
  height: 100vh
  position: relative

img
  width: 12em
  height: 12em

.backdrop-underlay
  background: black
  opacity: 0
  z-index: -1
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.backdrop-container
  overflow: hidden
  opacity: 0
  z-index: -2
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  img
    width: auto
    height: 100%
