&
  background: white
  padding: 2em 0
  font-size: 3em
  font-weight: 700
  font-family: "Gilroy", sans-serif
  color: dope-grey

img
  width: auto
  height: 3em
  margin-right: 1em

.info-section
  flex: 1
  min-width: 10em
  font-size: 1.5rem
  font-weight: 700

  .content
    border-top: 2px solid dope-pink
    padding-top: 0.5em
    padding-bottom: 0.5em

  .content:last-child
    border-bottom: 2px solid dope-pink

  .icon-container
    div
      margin-right: 0.5em

.info-section:first-child
  margin-right: 1em

.nav-links-container
  font-weight: 900
  +below(1400px)
    font-size: 3em
    margin-bottom: 1em
  +below(1200px)
    font-size: 2.8em
    margin-bottom: 0.8em
  +below(1000px)
    font-size: 2.6em
    margin-bottom: 0.6em
  +below(800px)
    font-size: 2.3em
    margin-bottom: 0.5em

  a
    margin-right: 1em

a
  text-decoration: none
  color: inherit

.nav-link:last-child
  margin-bottom: 0

a:hover
  text-decoration: underline

.icons
  font-size: 2em

  div
    margin-bottom: 0.5em

address
  font-size: 1.2em
  a
    font-family: "Libre Baskerville", serif
    font-style: italic
    font-weight: 300

  .number
    text-decoration: none
    span
      text-decoration: none

  .location
    font-family: "Gilroy", sans-serif
    font-style: normal
    font-weight: 300
    margin: 1em 0
