&
  background: white
  padding: 2em 0
  font-size: 3em
  font-weight: 700
  font-family: "Gilroy", sans-serif
  color: dope-grey
  +below(770px)
    padding: 1em

img
  +below(770px)
    display: none
  width: auto
  height: 3em
  margin-right: 1em

.info-section
  flex: 1
  min-width: 10em
  font-size: 1.5rem
  font-weight: 700

  .content
    border-top: 2px solid dope-pink
    padding-top: 0.5em
    padding-bottom: 0.5em

  .content:last-child
    +below(770px)
      border-bottom: none

  .icon-container
    div
      margin-right: 0.5em

.contact-info-container
  +below(770px)
    flex-direction: column

.info-section:first-child
  margin-right: 1em
  +below(770px)
    margin-right: 0

.nav-links-container
  font-weight: 900
  +below(1400px)
    font-size: 3rem
  +below(12050px)
    font-size: 2.5rem
  +below(1130px)
    font-size: 2rem
  +below(1000px)
    font-size: 1.8rem
  +below(900px)
    font-size: 1.6rem
  +below(800px)
    font-size: 1.4rem
  +below(770px)
    flex-direction: column
    font-size: 2rem
    margin-bottom: 0.5em

  a
    margin-right: 1em

a
  text-decoration: none
  color: inherit
  cursor: pointer

a:hover
  text-decoration: underline

.nav-link:last-child
  margin-bottom: 0

.icons
  font-size: 2em

  div
    margin-bottom: 0.5em

address
  font-size: 1.2em
  a
    font-family: "Libre Baskerville", serif
    font-style: italic
    font-weight: 300

  .number
    text-decoration: none
    span
      text-decoration: none

  .location
    font-family: "Gilroy", sans-serif
    font-style: normal
    font-weight: 300
    margin: 1em 0
